__pycache__
*.pyc
*.pyo
*.pyd
.Python
.env
.venv
env/
venv/
ENV/
build/
dist/
*.egg-info
*.egg
.cache
.git
.gitignore
.dockerignore
npm-debug.log
Dockerfile
README.md
.docker-compose.yml
.ruff_cache/
